{% extends "posApp/base.html" %} {% block pageContent %}{% csrf_token %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Pound Management</h4>
        </div>
    </div>
</div>

<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
        <div class="d-flex justify-content-between align-items-center">
            <form method="POST" action="{% url 'divide' %}">
                {% csrf_token %}
                <div class="mdc-card">
                    <div class="d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">Divide items</h4>
                    </div>
                    {{ Mixed1}}
                    <br>
                <button>SUBMIT</button>
                </div>
            </form>
        </div>
        </div>
</div>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
</script>
{% endblock ScriptBlock %}