
<div class="container-fluid">
    <form action="" id="stock-form">
        <input type="hidden" id="name" name="id" value="{% if stocks.pk %}{{stocks.pk}}{% endif %}">
        <div class="form-group mb-3">
            <label for="date" class="control-label">Date</label>
            <!--<input type="datetime-local" name="date" id="date" class="form-control form-control-sm rounded-0" value="{% if stocks.date %}{{stocks.date}}{% endif %}" required>-->
            {% if stocks.date_created %}
            <input type="text" class="form-control form-control-sm rounded-0" value = "{{stocks.date_created}}"readonly>
            {% else %}
            <input type="text" class="form-control form-control-sm rounded-0" value = "{{current_time}}" readonly>
            {% endif %}
        </div>
        <div class="form-group mb-3">
            <label for="product" class="control-label">Product</label>
            <select name="product" id="product" class="form-select form-select-sm rounded-0" required>
            {% if not stocks.product %}
            <option value="" disabled selected></option>
            {% else %}
            <option value="" disabled></option>
            {% endif %}

            {% for p in product_list %}
                {% if stocks.product == p.id %}
                <option value="{{ p.id }}" selected>{{ p.name }}</option>
                {% else %}
                <option value="{{ p.id }}">{{ p.name }}</option>
                {% endif %} 
             {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="quantity" class="control-label">Quantity</label>
            <input type="number" class="form-control rounded-0" name="quantity" id="quantity" min="0" value="{%if stocks.quantity%}{{stocks.quantity}}{%else%}0{%endif%}" required>
        </div>
        <div class="form-group mb-3">
            <label for="cost" class="control-label">Cost</label>
            <input type="number" class="form-control rounded-0" name="cost" id="cost" min="0" value="{%if stocks.cost%}{{stocks.cost}}{%else%}0{%endif%}" required>
        </div>                
        <div class="form-group mb-3">
            <label for="stock_type" class="control-label">Type</label>
            <select name="stock_type" id="stock_type" class="form-select form-select-sm rounded-0" required>
                {% if not stocks.stocks_type %}
                <option value="" disabled selected></option>
                {% else %}
                <option value="" disabled></option>
                {% endif %}

                {% for key, value in type_cases.items %}
                    {% if key == stocks.stock_type %}
                        <option value="{{ key }}" selected> {{ value }} </option>
                    {% else %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group mb-3">
            <label for="OS" class="control-label">On Sale</label>
            <select name="OS" id="OS" class="form-select form-select-sm rounded-0" required>
                {% if not stocks.OS %}
                <option value="" disabled selected></option>
                {% else %}
                <option value="" disabled></option>
                {% endif %}

                {% for key, value in ava_cases.items %}
                    {% if key == stocks.OS %}
                        <option value="{{ key }}" selected> {{ value }} </option>
                    {% else %}
                        <option value="{{ key }}">{{ value }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </form>
</div>
<script>
    $(function() {
        $('#stock-form').submit(function(e) {
            e.preventDefault();
            var _this = $(this)
            $('.err-msg').remove();
            var el = $('<div>')
            el.addClass("alert alert-danger err-msg")
            el.hide()
            if (_this[0].checkValidity() == false) {
                _this[0].reportValidity();
                return false;
            }
            start_loader();
            $.ajax({
                headers: {
                    "X-CSRFToken": '{{csrf_token}}'
                },
                url: "{% url 'save-stock-page' %}",
                data: new FormData($(this)[0]),
                cache: false,
                contentType: false,
                processData: false,
                method: 'POST',
                type: 'POST',
                dataType: 'json',
                error: err => {
                    console.log(err)
                    end_loader();
                },
                success: function(resp) {
                    if (typeof resp == 'object' && resp.status == 'success') {
                        el.removeClass("alert alert-danger err-msg")
                        location.reload()
                    } else if (resp.status == 'failed' && !!resp.msg) {
                        el.text(resp.msg)
                    } else {
                        el.text("An error occured", 'error');
                        end_loader();

                    }
                    _this.prepend(el)
                    el.show('slow')
                    $("html, body, .modal").scrollTop(0);
                    end_loader()
                }
            })
        })
    })
</script>