{% extends "posApp/base.html" %} {% block pageContent %}
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card py-2">
        <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title mb-0">Purchasebook List</h4>
            <div class="text-start">
                <button class="btn btn-primary bg-gradient btn-sm rounded-0" id="create_new"><i class="mdi mdi-plus"></i><span> Add New</span></button>
            </div>
        </div>
    </div>
</div>
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive table-limited table-larger">
            <table class="table table-striped table-bordered" name="purchasebook_table">
                <colgroup>
                    <col width="5%">
                    <col width="20%">
                    <col width="20%">
                    <col width="25%">
                    <col width="15%">
                    <col width="15%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1"></th>
                        <th class="text-center py-1">Date</th>
                        <th class="text-center py-1">Name</th>
                        <th class="text-center py-1">Ammount</th>
                        <th class="text-center py-1">Description</th>
                        <th class="text-center py-1">Cashflow</th>
                        <th class="text-center py-1">Transaction</th>
                        <th class="text-center py-1">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pb in pbs %}
                    <tr>
                        <td class="px-2 py-1 text-center">{{ pb.pk }}</td>
                        <td class="px-2 py-1 text-center">{{ pb.date_created}}</td>
                        <td class="px-2 py-1 text-center">{{ pb.payment}}</td>
                        <td class="px-2 py-1 text-center">{{ pb.ammount}}</td>
                        <td class="px-2 py-1 text-start">{{ pb.descri}}</td>
                        <td class="px-2 py-1 text-center">
                            {% if pb.ct == 1 %}<span class="badge bg-primary rounded-pill px-3">Cash in</span>
                            {% elif pb.ct == 2 %}<span class="badge bg-secondary rounded-pill px-3">Cash out</span>
                            {% elif pb.ct == 3 %}<span class="badge bg-secondary rounded-pill px-3">Credit</span>
                            {% else%}<span class="badge bg-secondary rounded-pill px-3">Damaged</span>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-center">
                            {% if pb.tr == 1 %}<span class="badge bg-primary rounded-pill px-3">Cash Payment</span>
                            {% elif pb.tr == 2 %}<span class="badge bg-secondary rounded-pill px-3">Bank Transfar</span>
                            {% else%}<span class="badge bg-secondary rounded-pill px-3">Damaged</span>
                            {% endif %}
                        </td>
                        <td class="px-2 py-1 text-center">
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--light mdc-ripple-upgraded edit-data" type="button" data-id="{{ pb.pk }}" title="Edit">
                                <i class="material-icons mdc-button__icon">edit</i>
                            </button>
                            <button class="mdc-button mdc-button--raised p-1 icon-button filled-button--danger mdc-ripple-upgraded delete-data" type="button" data-id="{{ pb.pk }}" title="Delete">
                                <i class="material-icons mdc-button__icon">deleteoutline</i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--
<div class="mdc-layout-grid__cell stretch-card mdc-layout-grid__cell--span-12">
    <div class="mdc-card">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <colgroup>
                    <col width="55%">
                    <col width="45%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="text-center py-1">Vendors</th>
                        <th class="text-center py-1">qty</th>
                    </tr>
                </thead>
                <tbody>
                {% for pb in pbs %}
                    {% if pb.count_credit > 0%}
                        <tr>
                            <td class="px-2 py-1 text-center">{{ customer.name}}</td>
                            <td class="px-2 py-1 text-center">{{ customer.count_credit}}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
-->
<script>inverse_table("purchasebook_table")</script>
{% endblock pageContent %} {% block ScriptBlock %}
<script>
        $(function() {
        $('#create_new').click(function() {
            uni_modal("Add New Purchasebook", "{% url 'manage_purchasebook-page' %}")
        })
        $('.edit-data').click(function() {
            uni_modal("Edit Purchasebook", "{% url 'manage_purchasebook-page' %}?id=" + $(this).attr('data-id'))
        })
        $('.delete-data').click(function() {
            _conf("Are you sure to delete this Purchasebook entry?", "delete_purchasebook", [$(this).attr('data-id')])
        })
    })
    function delete_purchasebook($id) {
        start_loader();
        $.ajax({
            headers: {
                "X-CSRFToken": '{{csrf_token}}'
            },
            url: "{% url 'delete-purchasebook' %}",
            method: "POST",
            data: {
                id: $id
            },
            dataType: "json",
            error: err => {
                console.log(err)
                alert_toast("An error occured.", 'error');
                end_loader();
            },
            success: function(resp) {
                if (typeof resp == 'object' && resp.status == 'success') {
                    location.reload();
                } else {
                    alert_toast("An error occured.", 'error');
                    end_loader();
                }
            }
        })
    }
</script>
{% endblock ScriptBlock %}